<?xml version="1.0" encoding="ISO-8859-1"?>

<!DOCTYPE web-app PUBLIC
	'-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN'
	'http://java.sun.com/dtd/web-app_2_3.dtd'>

<web-app>

	<filter>
		<filter-name>hourCacheControl</filter-name>
		<filter-class>net.spy.jwebkit.HeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=3600</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>fiveMinuteCacheControl</filter-name>
		<filter-class>net.spy.jwebkit.HeaderFilter</filter-class>
		<init-param>
			<param-name>Cache-Control</param-name>
			<param-value>max-age=300</param-value>
		</init-param>
	</filter>

	<filter>
		<filter-name>cacheFilter</filter-name>
		<filter-class>net.spy.jwebkit.cache.CacheFilter</filter-class>
		<init-param>
			<param-name>cacheProvider</param-name>
			<param-value>net.spy.jwebkit.cache.MemcachedCacheProvider</param-value>
		</init-param>
		<init-param>
			<param-name>memcached.servers</param-name>
			<param-value>red:11211</param-value>
		</init-param>
	</filter>

	<filter-mapping>
		<filter-name>hourCacheControl</filter-name>
		<url-pattern>/WapReport</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>cacheFilter</filter-name>
		<url-pattern>/Temperature</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>fiveMinuteCacheControl</filter-name>
		<url-pattern>/Temperature</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>cacheFilter</filter-name>
		<url-pattern>/House</url-pattern>
	</filter-mapping>

	<filter-mapping>
		<filter-name>fiveMinuteCacheControl</filter-name>
		<url-pattern>/House</url-pattern>
	</filter-mapping>

	<!-- The house servlet -->
	<servlet>
		<servlet-name>House</servlet-name>
		<servlet-class>net.spy.temperature.HouseServlet</servlet-class>

		<init-param>
			<param-name>baseImage</param-name>
			<param-value>/images/house.png</param-value>
		</init-param>

		<init-param>
			<param-name>houseConfig</param-name>
			<param-value>/WEB-INF/house.conf</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>

	<!-- The WAP report servlet -->

	<servlet>
		<servlet-name>WapReport</servlet-name>
		<servlet-class>net.spy.temperature.WapReport</servlet-class>
	</servlet>

	<!-- The temperature servlet -->

	<servlet>
		<servlet-name>Temperature</servlet-name>
		<servlet-class>net.spy.temperature.Temperature</servlet-class>

		<init-param>
			<param-name>baseImage</param-name>
			<param-value>/images/therm-c.gif</param-value>
		</init-param>

		<init-param>
			<param-name>temperatureProps</param-name>
			<param-value>/WEB-INF/temperature.properties</param-value>
		</init-param>

		<load-on-startup>1</load-on-startup>

	</servlet>

	<!-- RPC servlet -->
	<servlet>
		<servlet-name>rpc</servlet-name>
		<servlet-class>net.spy.rpc.XMLRPC</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>Temperature</servlet-name>
		<url-pattern>/Temperature</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>Temperature</servlet-name>
		<url-pattern>/Temperature/*</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>House</servlet-name>
		<url-pattern>/House</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>WapReport</servlet-name>
		<url-pattern>/WapReport</url-pattern>
	</servlet-mapping>

	<servlet-mapping>
		<servlet-name>rpc</servlet-name>
		<url-pattern>/RPC2</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>

</web-app>
